.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 64px);
    padding: 20px;
}

.login-card {
    width: 100%;
    max-width: 400px;
}

.inline-spinner {
    display: inline-block;
    margin-right: 10px;
}